* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(29, 28, 28);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.About_Container {
    width: 100%;
    height: 100vh;
    background-color: rgb(253, 252, 252);
    padding: 15px;
    padding-top: 10%;
    // display: flex;

    .About_Header {
        width: 100%;
        height: 25vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 37px;
            padding-bottom: 15px;
        }

        span {
            width: 60px;
            border-radius: 7px;
            // margin-bottom: 5px;
            height: 4px;
        background-color: rgb(202, 178, 39);
        }
        p {
            width: 70%;
            font-size: 18px;
            text-align: center;
            padding-top: 15px;
        }

    }

    .About_body {
        width: 100%;
        height: 72vh;
        display: flex;
        justify-content: space-between;

        .About_details {
            width: 45%;
            height: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;

            h2 {
                padding: 20px 10px;
                font-size: xx-large;
            }

            p {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 10px;
            }

            .About_Btn {
                width: 200px;
                text-align: center;
                font-weight: 600;
                border-radius: 8px;
                background-color: rgb(202, 178, 39);
                padding: 15px;
                cursor: pointer;
        
                &:hover {
                    transform: scale(1.08);
                    transition: all 350ms ease-in;
                }
            }

        }

        .About_skills {
            width: 45%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                padding: 20px 10px;
            }

            .Skills_container {
                width: 100%;
                height: 30%;
                display: flex;
                // color: grey;
                flex-wrap: wrap;
               
                .Skill_Card {
                    width: max-content;
                    height: max-content;
                    padding: 15px;
                    font-weight: 500;
                    background-color: rgb(180, 177, 177);
                    margin: 3px 7px;
                    border-radius: 5px;
                }
            }
        }
    }

    @media(max-width:800px) {
        .About_Header {
            p {
                width: 100%;
            }
        }
       .About_body {
        flex-direction: column;
        height: max-content;

        .About_details {
            width: 90%;
            margin-bottom: 10px;
        }

        .About_skills {
            width: 100%;
            padding: 10px;
            padding-left: 30px;

        }

        
       }
    }

}