* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Footer_Container {
    width: 100%;
    height: 60vh;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 5%;

    
.Footer_Body {
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: #fff;

    .Footer_Top {

        display: flex;
        justify-content: space-between;
        padding: 3%;
    border-bottom: 1px solid white;
        span {
            width: 40%;
            // background-color: green;

            h1 {
                font-size: 24px;
                margin-bottom: 5px;
                color: white;
            }

            p {
            color: white;
            }
        }

        h1 {
            padding: 5%;
        }
        .Social_Icons {
            width: 4%;
            font-size: 25px;
            padding: 3%;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .Footer_Bottom {
        width: 100%;
        height: 40%;
        display: flex;
        margin-top: 90px;
        color: white;
        justify-content: center;
        align-items: center;
    }
}
}
