* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Header_container {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    color: rgb(62, 62, 65);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;
    padding: 8px;
    box-shadow: 3px 3px 7px;

    .Header_Logo {
        width: 29%;
        height: 95%;
        display: flex;
        // justify-content: space-between;
        background-color: #fff;
        // border-radius: 50%;
        object-fit: contain;

        img {
            width: 19%;
            height: 100%;
            margin-right: 4%;
            border-radius: 50%;
        }
    }

    .Header_list {
        width: 30%;
        display: flex;
        justify-content: space-around;
        font-size: 18px;

        li {
            list-style-type: none;
            cursor: pointer;

            &:hover {
                transform: scale(1.09);
                transition: all 350ms ease-in;
                color: rgb(194, 166, 9);
            }
        }
    }

    .Header_Menu {
        display: none;
    }

    .Mobile_Header_list {
        display: none;
    }

    @media(max-width: 900px) {

        .Header_Logo {
            width: 90%;

            h1 {
                width: 70%;
                font-size: 19px;
                display: flex;
                align-items: center;
            }
        }
        .Header_list {
            display: none;
        }
        .Header_Menu {
            display: flex;
            padding: 8px;
            color: black;
            font-size: 18px;
            background-color: #fff;
            border-radius: 8px;
        }
        @keyframes myAnim {
            0% {
                transform: translateY(-100);
            }

            50% {
                transform: translateY(-50);
            }

            100% {
                transform: translateY(0);
                
            }
        }
        .Mobile_Header_list {
            display: flex;
            width: 25%;
            height: 130px;
            background-color: white;
            animation: myAnim 5s ease-in;
            transition: all 350ms ease-in;
            // border-radius: 8px;
            flex-direction: column;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            margin-left: 75%;
            padding: 13px;
            position: fixed;
            top: 70px;

            li {
                &:hover {
                    cursor: pointer;
                    color: rgb(194, 166, 9);
                }
            }
          
        }
    }

}

