.Home_container {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 5%;
    font-size: 19px;
    background-image: url('../assets/portfolio\ background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    .Home_text {
        width: 90%;
        padding: 10%;
        display: flex;
        flex-direction: column;
        color: rgb(62, 62, 65);
        align-items: center;


        
        h1{
            text-align: center;
            padding: 2%;
            color: darken(rgb(62, 62, 65), $amount: 10%);
            font-size: 55px;
        }
    }

    .Home_media {
        width: 4%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 28px;
        padding: 5px;
        box-shadow: 3px 3px 7px;
        background-color: white;

        span {

            &:hover{
                cursor: pointer;
            }
        }
    }

    .Home_Btn {
        width: 200px;
        text-align: center;
        font-style: bold;
        border-radius: 8px;
        background-color: rgb(202, 178, 39);
        padding: 15px;
        cursor: pointer;

        &:hover {
            transform: scale(1.08);
            transition: all 350ms ease-in;
        }
    }


    @media(max-width: 900px) {
        .Home_media {
            display: none;
        }

        .Home_text {
            padding: 5%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                // margin-bottom: 8%;
                font-size: 30px;
            }
            
         
        }
    }
}